<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시글 처리 SQL -->
<mapper namespace="dao.MemberMapper">
	<!-- 회원 가입 -->
	<insert id="insertMember" parameterType="member">
		INSERT INTO projectmember 
			(name, id, password, email, address, phonenum, carrier, telnum)
		VALUES
			(#{name}, #{id}, #{password}, #{email}, #{address}, #{phonenum}, #{carrier}, #{telnum})
	</insert>
	
	<!-- 회원 정보 가져오기 -->
	<select id="selectMember" parameterType="string" resultType="member">
		SELECT
			*
		FROM
			projectmember
		WHERE
			id = #{id}
	</select>
	
</mapper>
