@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);

input[type="button"] {
	font-family: FontAwesome;
}

.outerdiv {
	margin: auto;
	width: 30cm;
}

.title {
	margin: auto;
	/* label을 담고 있는 상자의 크기를 label만큼 줄여야 하는 듯 */
	width: fit-content;
}

.titleheader {
	font-size: 60px;
	font-family: "Nanum Pen Script";
	margin: auto;
}

.articletable {
	clear: both;
	font-family: "Nanum Pen Script";
}

.headerrow {
	width: 100%;
	background-color: #e6e6e6;
	clear: both;
}

.articlerow {
	width: 100%;
	clear: both;
}

.cell {
	float: left;
}

.headercell {
	background-color: #e6e6e6;
}

.article-num {
	width: 10%;
	text-align: center;
}

.article-title {
	width: 50%;
}

.article-author {
	width: 10%;
	text-align: center;
}

.article-view {
	width: 10%;
	text-align: center;
}

.article-date {
	width: 10%;
	text-align: center;
}

.paginationnav {
	clear: both;
	margin: auto;
	/* content의 크기만큼 content상자의 크기를 맞춘다*/
	width: fit-content;
}

.searchbar {
	margin: auto;
	text-align: center;
}